@import './colors.scss';

input {
  min-width: 160px;
  border-radius: 25px;
  text-align: center;

  //I'm using !importants here to apply in ng-autocomplete too :(
  height: 40px;
  font-size: 15px;
  padding: 0px 20px 0px 20px;
  border: 2px solid $light-blue;
  color: $blue;
  outline: none;
}

input::placeholder {
  color: $blue;
  font-weight: bold;
  font-size: 13px;
}

input:focus {
  border: 2px solid $blue;
  color: $blue;
}
